@use '../mixins.scss';

.tabs {
  display: flex;
  align-items: flex-end;
  flex: 0 0 auto;
  position: relative;

  @include mixins.use-styles(tab, container);
}

.tab-indicator-container {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;

  @include mixins.use-styles(tab, indicator, container);
}

.tab-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  @include mixins.use-styles(tab, indicator);
}

.tab {
  outline: none;
  font-family: inherit;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  background-color: transparent;
  user-select: none;
  position: relative;
  cursor: pointer;
  font-family: inherit;

  @include mixins.use-styles(tab);

  &[data-disabled] {
    cursor: not-allowed;
    @include mixins.use-styles(tab, disabled);
  }

  &:not([data-disabled]):not([data-state='active']):hover {
    @include mixins.use-styles(tab, hover);
  }

  &[data-state='active'] {
    @include mixins.use-styles(tab, active);
  }
}
