.TabsRoot {
  display: flex;
  flex-direction: column;
}

.TabsList {
  flex-shrink: 0;
  display: flex;
  box-shadow: inset 0 -1px 0 0 #222222;
}

.TabsTrigger {
  outline: none;
  font-family: inherit;
  padding: 0 20px;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: #fff;
  background-color: transparent;
  user-select: none;
  position: relative;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;

  &[data-state='active'] {
    color: #2d72d2;

    &:before {
      box-sizing: border-box;
      content: '';
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #2d72d2;
    }
  }
}
