body {
  background-color: color(display-p3 0.976 0.976 0.984);
}

// SIMPLE TEST

.box-styles {
  background: red;
  color: rgb(255, 255, 255);
  width: 120px;
  height: 60px;
}

// CLASSNAMES USAGE

.enterFrom {
  opacity: 0;
}

.enter {
  transition: opacity;
  transition-timing-function: linear;
  transition-duration: 10s;
}

.enterTo {
  opacity: 1;
}

// leave

.leaveFrom {
  opacity: 1;
}

.leave {
  transition: all;
  transition-timing-function: linear;
  transition-duration: 5s;
}

.leaveTo {
  opacity: 0;
}

.col-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.examples-list {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 20px 120px;
}

.spinner-border {
  animation: none;
}

.w-full {
  width: 100%;
}

.docs-popover-placement-example {
  display: flex;
  justify-content: center;
}

.docs-popover-placement-example .docs-example-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  justify-content: stretch;
  margin: 0;
}

.docs-popover-placement-example .docs-example-grid-1-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.docs-popover-placement-example .docs-example-grid-1-2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.docs-popover-placement-example .docs-example-grid-1-3 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.docs-popover-placement-example .docs-example-grid-2-1 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.docs-popover-placement-example .docs-example-grid-2-2 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.docs-popover-placement-example .docs-example-grid-2-3 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.docs-popover-placement-example .docs-example-grid-3-1 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.docs-popover-placement-example .docs-example-grid-3-2 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.docs-popover-placement-example .docs-example-grid-3-3 {
  grid-column: 3/4;
  grid-row: 3/4;
}

.docs-popover-placement-example .docs-example-grid-1-1 {
  align-self: end;
}

.docs-popover-placement-example .docs-example-grid-1-2,
.docs-popover-placement-example .docs-example-grid-2-1 {
  align-self: stretch;
}

.docs-popover-placement-example .docs-example-grid-1-3,
.docs-popover-placement-example .docs-example-grid-3-1 {
  align-self: start;
}

.docs-popover-placement-example .docs-example-grid-1-2,
.docs-popover-placement-example .docs-example-grid-2-1 {
  align-self: end;
}

.docs-popover-placement-example .docs-example-grid-2-2 {
  align-self: stretch;
}

.docs-popover-placement-example .docs-example-grid-2-3,
.docs-popover-placement-example .docs-example-grid-3-2 {
  align-self: start;
}

.docs-popover-placement-example .docs-example-grid-1-3,
.docs-popover-placement-example .docs-example-grid-3-1 {
  align-self: end;
}

.docs-popover-placement-example .docs-example-grid-2-3,
.docs-popover-placement-example .docs-example-grid-3-2 {
  align-self: stretch;
}

.docs-popover-placement-example .docs-example-grid-3-3 {
  align-self: start;
}

.docs-popover-placement-example .docs-example-grid-2-2 {
  align-self: center;
  text-align: center;
}

.docs-popover-placement-example em {
  display: inline-block;
  max-width: 250px;
}

.bp6-dark .docs-popover-placement-example em {
  color: #abb3bf;
}

.docs-popover-placement-example-content .bp6-popover-content {
  line-height: 2;
  padding: 10px 20px;
  text-align: center;
}

.docs-popover-placement-example-content code {
  font-weight: 600;
}

.docs-popover-placement-value-code-block {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.sample {
  border: 1px solid #00000024;
  padding: 28px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 18px #0000000a, 0px 2.025px 7.84688px rgba(0, 0, 0, 0.027),
    0px 0.8px 2.925px #00000005, 0px 0.175px 1.04062px rgba(0, 0, 0, 0.013);

  &-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
  }
}

.help-tip {
  margin-left: 6px;
  margin-top: -2px;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.3;
}

.form-slot {
  pointer-events: auto;
  padding: 0px var(--form_space, 0);

  &[data-side='right'] {
    border-left: var(--form_border);
    margin-left: var(--form_space, 0);
  }

  &[data-side='left'] {
    border-right: var(--form_border);
    margin-right: var(--form_space, 0);
  }

  &:hover {
    svg {
      color: #858585;
    }
  }
}

.dialog-close {
  position: absolute;
  outline: none;
  top: 14px;
  right: 14px;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  color: var(--dialog-close-color);

  &:hover {
    background-color: var(--dialog-close-hover-background);
  }

  &:active {
    background-color: var(--dialog-close-active-background);
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

.toaster-progress-close {
  cursor: pointer;
  width: 16px;
  height: 16px;
  min-width: 16px;
  color: #0000005a;
}

.header {
  border-bottom: 1px solid #ebebeb;
  padding: 14px 120px;
  box-shadow: 0 8px 30px 0 rgb(0, 0, 0, 0.04);
}
