@use '../mixins.scss';

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  border-style: solid;
  border-color: currentColor;
  border-width: 2px;
  border-right-color: transparent;
  border-radius: 50%;
  animation: 0.75s linear infinite spinner-border;

  @include mixins.use-styles(spinner);
}
