.overlay-content {
  position: fixed;
  z-index: 20;
}

.overlay-container {
  overflow: hidden;
  position: fixed;
}

.overlay {
  inset: 0;
  position: static;
  z-index: 20;
}

.drawer-backdrop {
  background-color: rgba(17, 20, 24, 0.7);
  inset: 0;
  opacity: 1;
  overflow: auto;
  position: fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 20;

  // presets before transition in (initial state)
  &[data-closed][data-enter] {
    opacity: 0;
  }

  // transition in
  &[data-enter] {
    opacity: 1;
    transition-delay: 0;
    transition-duration: 0.2s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
  }

  // transition out
  &[data-leave] {
    opacity: 0;
    transition-delay: 0;
    transition-duration: 0.2s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
  }
}

.drawer {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(17, 20, 24, 0.1), 0 4px 8px rgba(17, 20, 24, 0.2),
    0 18px 46px 6px rgba(17, 20, 24, 0.2);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  &-right {
    bottom: 0;
    right: 0;
    top: 0;
    width: 50%;
  }

  // initial - начальное состояние (перед появлением)
  &[data-closed][data-enter] {
    transform: translateX(100%);
  }

  // animate from initial - анимация до конечного состояния, от начального
  &[data-enter] {
    transform: translateX(0);
    transition-delay: 0;
    transition-duration: 0.2s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
  }

  // exit - анимация завершения
  &[data-leave] {
    transform: translateX(100%);
    transition-delay: 0;
    transition-duration: 0.1s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
  }
}
