.drawer {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(17, 20, 24, 0.1), 0 4px 8px rgba(17, 20, 24, 0.2),
    0 18px 46px 6px rgba(17, 20, 24, 0.2);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  &-right {
    bottom: 0;
    right: 0;
    top: 0;
    width: 50%;
  }

  // initial - начальное состояние (перед появлением)
  &[data-closed][data-enter] {
    transform: translateX(100%);
  }

  // animate from initial - анимация до конечного состояния, от начального
  &[data-enter] {
    transform: translateX(0);
    transition-delay: 0;
    transition-duration: 0.2s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
  }

  // exit - анимация завершения
  &[data-leave] {
    transform: translateX(100%);
    transition-delay: 0;
    transition-duration: 0.1s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
  }
}
