@use '../../src/theme.scss';

$layout: (
  icon: (
    size_xxxs: 12px,
    size_xxs: 1rem,
    size_xs: 1.25rem,
    size_s: 1.55rem,
    size_m: 2rem,
    size_l: 1.5rem,
    size_xl: 2rem,
    size_xxl: 3rem,
    size_xxxl: 4.5rem
  ),
  button: (
    font-family: inherit,
    border-radius: 8px,
    font-weight: normal,

    size_sm_height: 1.75rem,
    size_sm_font-family: inherit,
    size_sm_line-height: inherit,
    size_sm_padding: 0 1rem,

    size_md_height: 2rem,
    size_md_font-family: inherit,
    size_md_line-height: inherit,
    size_md_padding: 0 1rem,

    size_lg_height: 2.25rem,
    size_lg_font-family: inherit,
    size_lg_line-height: inherit,
    size_lg_padding: 0 1rem
  ),
  checkbox: (
    label_padding-left: 0.5rem,
    size_sm_box: 1.25rem,
    size_md_box: 1.5rem,
    size_md_font-size: 1rem,
    size_sm_font-size: 0.8rem,
    box_border-radius: 8px,
    icon_in_animation: 'checkboxIn 200ms, checkboxInColor 100ms',
    icon_out_animation: 'checkboxOutColor 150ms',
    disabled_opacity: 48%
  ),
  radio: (
    size_sm_box: 1.25rem,
    size_md_box: 1.5rem,
    size_sm_mark: 0.625rem,
    size_md_mark: 0.75rem,
    size_md_font-size: 1rem,
    size_sm_font-size: 0.8rem,
    group_gap: 0.8rem,
    label_padding-left: 0.5rem,
    box_border-radius: 50%,
    mark_border-radius: 50%,
    mark_in_animation: 'fadeIn 100ms, markScaleIn 200ms',
    mark_out_animation: 'fadeOut 100ms, markScaleOut 200ms',
    disabled_opacity: 48%
  ),
  tab: (
    height: 45px,
    font-size: 1rem,
    padding: 0 20px,
    transition: 'color, 200ms ease',
    indicator_container_transition: 'height, transform, width, 320ms cubic-bezier(0.4, 1, 0.75, 0.9)',
    indicator_height: 3px,
    disabled_opacity: 0.5
  ),
  toaster: (
    border-radius: 8px,
    padding: 1rem,
    min-width: 400px,
    max-width: 600px,
    viewport_offset: 20px,
    content_gap: 1px,
    title_font-size: 0.875rem,
    description_font-size: 0.875rem,
    title_font-weight: 600,
    icon_margin-right: 0.8rem,
    icon_size: 1.25rem,
    close_size: 1rem,
    close_space: 6px,
    close_padding: 4px
  ),
  tooltip: (
    padding: 6px 12px,
    max-width: 400px,
    font-size: 0.8rem,
    in_animation:
      'popoverScaleIn 300ms cubic-bezier(0.54, 1.12, 0.38, 1.11), fadeIn 100ms cubic-bezier(0.4, 1, 0.75, 0.9)',
    out_animation:
      'popoverScaleOut 300ms cubic-bezier(0.54, 1.12, 0.38, 1.11), fadeOut 100ms cubic-bezier(0.4, 1, 0.75, 0.9)'
  ),
  popover: (
    border-radius: 6px,
    content_border-radius: 6px,
    default_in_animation:
      'popoverScaleIn 300ms cubic-bezier(0.54, 1.12, 0.38, 1.11), fadeIn 100ms cubic-bezier(0.4, 1, 0.75, 0.9)',
    default_out_animation:
      'popoverScaleOut 300ms cubic-bezier(0.54, 1.12, 0.38, 1.11), fadeOut 100ms cubic-bezier(0.4, 1, 0.75, 0.9)',
    minimal_in_animation: 'fadeIn 100ms cubic-bezier(0.4, 1, 0.75, 0.9)',
    minimal_out_animation: 'fadeOut 100ms cubic-bezier(0.4, 1, 0.75, 0.9)'
  ),
  popup: (
    border-radius: 4px,
    overlay_in_animation: fadeIn 200ms cubic-bezier(0.4, 1, 0.75, 0.9),
    overlay_out_animation: fadeOut 200ms cubic-bezier(0.4, 1, 0.75, 0.9),
    in_animation: dialogIn 300ms cubic-bezier(0.54, 1.12, 0.38, 1.11),
    out_animation: dialogOut 300ms cubic-bezier(0.54, 1.12, 0.38, 1.11)
  ),
  dialog: (
    container_padding: 20px,
    // size
    size_xxs_max-width: 500px,
    size_xs_max-width: 500px,
    size_s_max-width: 500px,
    size_m_max-width: 500px,
    size_l_max-width: 500px,
    size_xl_max-width: 500px,
    size_xxl_max-width: 500px,
    // full-size
    size_full_width: 100%,
    size_full_height: 100%,
    size_full_container_padding: 0px,
    size_full_border-radius: 0px
  ),
  alert: (
    container_padding: 20px,
    padding: 20px,
    width: 400px,
    title_font-weight: 600,
    title_font-size: 18px,
    body_gap: 20px,
    content_gap: 4px,
    icon_size: 38px,
    footer_padding-top: 20px,
    footer_gap: 8px,
    icon_color: #ac2f33
  ),
  drawer: (
    overlay_background: rgba(0, 0, 0, 0.5),
    radius: 10px,
    box-shadow:
      ' 0 0 0 1px rgba(17, 20, 24, .1), 0 4px 8px rgba(17, 20, 24, .2), 0 18px 46px 6px rgba(17, 20, 24, .2)',
    overlay_in_animation: fadeIn 500ms cubic-bezier(0.32, 0.72, 0, 1),
    overlay_out_animation: fadeOut 500ms cubic-bezier(0.32, 0.72, 0, 1),
    //
    in_left_animation: slideFromLeft 500ms cubic-bezier(0.32, 0.72, 0, 1),
    out_left_animation: slideToLeft 500ms cubic-bezier(0.32, 0.72, 0, 1),
    //
    in_right_animation: slideFromRight 500ms cubic-bezier(0.32, 0.72, 0, 1),
    out_right_animation: slideToRight 500ms cubic-bezier(0.32, 0.72, 0, 1),
    //
    in_bottom_animation: slideFromBottom 500ms cubic-bezier(0.32, 0.72, 0, 1),
    out_bottom_animation: slideToBottom 500ms cubic-bezier(0.32, 0.72, 0, 1),
    //
    in_top_animation: slideFromTop 500ms cubic-bezier(0.32, 0.72, 0, 1),
    out_top_animation: slideToTop 500ms cubic-bezier(0.32, 0.72, 0, 1)
  ),
  form: (
    space: 12px,
    space-y: 6px,
    //
    font-weight: 400,
    border-radius: 8px,
    transition: 'background .15s ease, border .15s ease, box-shadow .15s ease, color .15s ease',
    focus_border-color: rgba(5, 115, 225, 0.5),
    focus_box-shadow:
      '0 1px 2px rgba(17, 20, 24, 0.1), 0 1px 1px rgba(0, 0, 0, .03), 0 3px 6px rgba(0, 0, 0, .02), 0 0 0 3px rgba(5, 115, 225, .25), 0 1px 1px 0 rgba(0, 0, 0, .08)',
    // sizes
    size_md_height: 36px,
    size_md_font-size: 16px,
    size_sm_height: 30px,
    size_sm_font-size: 14px,
    size_lg_height: 42px,
    size_lg_font-size: 18px,
    // disabled
    disabled_box-shadow: none,
    disabled_cursor: not-allowed,
    // required
    required_border-color: #f53535,
    required_box-shadow: 0 0 3px 1px rgb(245 53 53 / 40%)
  ),
  form-group: (
    label_margin-bottom: 4px,
    caption_margin-top: 2px,
    caption_font-size: 14px,
    caption_negative_color: #f53535
  ),
  tag: (
    font-size: 14px,
    gap: 0px,
    border-radius: 6px,
    // close
    close_padding: 4px,
    close_size: 12px,
    // name
    name_padding-left: 6px,
    // container
    container_gap: 4px,
    container_padding: 6px,
    // empty
    empty_text-align: center,
    empty_font-size: 14px
  ),
  option: (
    padding: 6px 8px,
    border-radius: 4px,
    check_margin-left: 8px,
    check_size: 16px,
    list_padding: 10px 0px,
    disabled_opacity: 0.3
  ),
  calendar: (
    padding: 12px,
    name_width: 40px,
    name_height: 32px,
    name_color: #6d7885,
    name_font-size: 14px,
    navigation_color: #2688eb,
    navigation_hover_background: rgb(0 0 0 / 6%),
    navigation_active_background: rgb(0 0 0 / 8%),
    navigation_border-radius: 6px,
    navigation_size: 36px,
    navigation_icon_size: 20px,
    header_height: 36px,
    day_width: 40px,
    day_height: 36px,
    day_font-size: 14px,
    day_border-radius: 8px,
    day_hover_background: rgba(0, 0, 0, 0.1),
    day_disabled_color: #c9c9c9,
    day_selected_background: #529ef4,
    day_selected_color: #ffffff
  ),
  switch: (
    disabled_opacity: 0.6,
    track_width: 47px,
    track_min-width: 47px,
    track_height: 27px,
    track_disabled_cursor: not-allowed,
    label_disabled_cursor: not-allowed,
    track_unchecked_background-color: #e1e3e6,
    track_checked_background-color: #2688eb,
    track_border-radius: calc(47px / 2),
    track_transition: background-color 200ms linear,
    track_outline_width: 2px,
    thumb_size: 23px,
    thumb_transition: transform 200ms cubic-bezier(0.36, -0.24, 0.26, 1.32),
    thumb_background: #ffffff,
    thumb_box-shadow:
      '0 3px 8px rgb(0,0,0,0.15),0 3px 1px rgb(0,0,0,0.06),inset 0 0 0 0.5px rgb(0,0,0,0.04)',
    label_padding-left: 0.5rem,
    icon_opacity: 0,
    icon_transition: opacity 100ms cubic-bezier(0.4, 0, 0.2, 1),
    icon_size: 12px,
    icon_visible_opacity: 1,
    icon_unchecked_color: rgba(220, 38, 38),
    icon_checked_color: rgba(22, 163, 74)
  ),
  progress: (
    background: rgba(95, 107, 124, 0.2),
    height: 8px,
    thumb_primary_background-color: #2d72d2,
    thumb_neutral_background-color: rgba(95, 107, 124, 0.8),
    thumb_positive_background-color: #238551,
    thumb_negative_background-color: #cd4246
  ),
  avatar: (
    border-radius: 100%,
    border_border: 1px solid rgba(0, 0, 0, 0.08),
    initials_font-weight: 600
  ),
  segment-control: (
    container_padding: 2px,
    container_border-radius: 8px,
    container_height: 36px,
    slider_box-shadow:
      'inset 0 0 0 .5px rgba(0,0,0,0.08),0 3px 8px rgb(0,0,0,.12),0 3px 1px rgb(0,0,0,.04)',
    option_transition: background 80ms
  )
);

:root {
  @include theme.use-tokens($layout);
}
