@import '../mixins.scss';

.option-item {
  @include height(32px);

  display: flex;
  align-items: center;
  padding: 5px 7px;
  cursor: pointer;
  border-radius: 4px;
  color: var(--color-text);

  & > * {
    margin-right: 8px;
  }

  & > :last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: rgba(143, 153, 168, 0.15);
  }

  &:active {
    background-color: rgba(143, 153, 168, 0.3);
  }

  &[data-selected] {
    background-color: rgba(143, 153, 168, 0.15);
  }

  &-text {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
