.popup {
  background: #f6f7f9;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(17, 20, 24, 0.1), 0 2px 4px rgba(17, 20, 24, 0.2),
    0 8px 24px rgba(17, 20, 24, 0.2);
  display: flex;
  flex-direction: column;
  pointer-events: all;
  max-height: 100%;

  &-header {
    padding: 8px 16px;
  }

  &-footer {
    padding: 16px;
  }

  &-container {
    padding: 30px 0;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100%;
    opacity: 1;
    transform: scale(1);
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    outline: none;

    // initial - начальное состояние (перед появлением)
    &[data-closed][data-enter] {
      opacity: 0;
      transform: scale(0.5);
    }

    // animate from initial - анимация до конечного состояния, от начального
    &[data-enter] {
      opacity: 1;
      transform: scale(1);
      transition-delay: 0;
      transition-duration: 0.3s;
      transition-property: opacity, transform;
      transition-timing-function: cubic-bezier(0.54, 1.12, 0.38, 1.11);
    }

    // exit - анимация завершения
    &[data-leave] {
      opacity: 0;
      transform: scale(0.5);
      transition-delay: 0;
      transition-duration: 0.3s;
      transition-property: opacity, transform;
      transition-timing-function: cubic-bezier(0.54, 1.12, 0.38, 1.11);
    }
  }
}
