@import '../mixins.scss';

.input {
  @include height(var(--forms-size-md));

  border-radius: var(--forms-radius);
  outline: none;
  width: 100%;
  color: #ffffff;
  border: 1px solid #686868;
  background-color: #101010;
  box-shadow: 0 1px 2px rgb(0 0 0 / 47%);
  padding: 6px 8px;
  font-family: inherit;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &:focus {
    border-color: #3787e9;
  }

  &[data-error] {
    border-color: #e92c2c;
  }
}
