@use '../mixins.scss';

.select {
  cursor: pointer;
  max-width: 100%;

  &-layout {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: inherit;
  }

  &-placeholder {
    user-select: none;

    @include mixins.use-styles(form, placeholder);
  }

  &-content {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    align-self: stretch;
    overflow: hidden;

    &:first-child {
      padding-left: var(--form_space, 0);
    }

    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &-popover-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
  }

  &-add-option {
    color: #2d81e0;

    &:not([data-disabled]):hover {
      background-color: #2d80e02b !important;
    }

    &:not([data-disabled]):active {
      background-color: #2d80e042 !important;
    }

    svg {
      width: 18px;
      min-width: 18px;
      height: 18px;
    }
  }

  &-element {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &-close-button {
    pointer-events: auto;
    cursor: pointer;
    padding: 0px var(--form_space, 0);
    height: 100%;
    outline: none;
    color: var(--select_clean_color);

    &:hover {
      color: var(--select_clean_hover_color);
    }
  }

  &-expand {
    margin-right: var(--form_space, 0);

    &:first-child {
      margin-left: var(--form_space, 0);
    }
  }
}

// expand icon

.expand-icon {
  color: var(--select_expand_color);
  transition: transform 0.2s;
}

.form {
  &[data-state='open'] {
    .expand-icon {
      transform: rotate(180deg);
    }
  }
}
