@use './theme.scss';
@use './css.scss';
@use 'sass:map';
@use 'sass:list';
@use 'sass:meta';

@mixin height($size) {
  height: $size;
  min-height: $size;
  max-height: $size;
}

@mixin box($size) {
  height: $size;
  width: $size;
  min-width: $size;
}

@mixin items-spacing($spacing) {
  & > * {
    margin-right: $spacing;
  }

  & > :last-child {
    margin-right: 0;
  }
}

@mixin truncate-text() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@function get-value($map, $keys...) {
  $current: $map;

  @each $key in $keys {
    @if meta.type-of($current) != 'map' {
      @return null;
    }

    $current: map.get($current, $key);

    @if $current == null {
      @return null;
    }
  }

  @return $current;
}

@mixin set-style($property, $source, $keys...) {
  $path: list.append($keys, $property);
  $var-name: get-value($source, $path...);

  @if $var-name != null {
    @if meta.type-of($var-name) != 'map' {
      #{$property}: $var-name;
    }
  }
}

@mixin use-styles($component, $keys...) {
  $source: map.get(theme.$tokens, $component);

  @each $property, $v in css.$properties {
    @include set-style($property, $source, $keys...);
  }
}

@mixin use-styles-debug($component, $keys...) {
  $source: map.get(theme.$tokens, $component);

  @debug $source;

  @each $property, $v in css.$properties {
    @include set-style($property, $source, $keys...);
  }
}

@function get-var-name($component, $keys...) {
  $source: map.get(theme.$tokens, $component);
  $var-name: get-value($source, $keys...);

  @return $var-name;
}

@mixin use-size($component, $keys...) {
  $name: get-var-name($component, $keys...);

  @if $name != null {
    @if meta.type-of($name) != 'map' {
      width: $name;
      min-width: $name;
      height: $name;
    }
  }
}
