:root {
  --forms-radius: 4px;
  --forms-size-sm: 24px;
  --forms-size-md: 30px;
  --forms-size-lg: 40px;

  --border-color: #8f8f8f;
  --color-error: #e92c2c;
  --color-text: #e1e3e6;
}

.h-full {
  height: 100%;
}

.overflow-y-scroll {
  overflow-y: scroll;
}
