@use '../mixins.scss';

// scheme: bth-[appearance]-[mode]-[property]--[state]
//
// appearance:  primary, neutral, positive, negative
// mode: default, outline, minimal
// state: enabled, hovered, pressed, disabled, loading
// property: text, background, shadow, border

@mixin use-mode($appearance, $mode) {
  @include mixins.use-styles(button, $appearance, $mode, enabled);

  &:hover {
    @include mixins.use-styles(button, $appearance, $mode, hovered);
  }

  &[data-active],
  &:active {
    @include mixins.use-styles(button, $appearance, $mode, pressed);
  }

  &[data-loading] {
    &:hover,
    &[data-active],
    &:active {
      @include mixins.use-styles(button, $appearance, $mode, enabled);
    }
  }

  &[disabled] {
    @include mixins.use-styles(button, $appearance, $mode, disabled);
  }
}

@mixin use-appearance($appearance) {
  &[data-appearance='#{$appearance}'] {
    &[data-mode='default'] {
      @include use-mode($appearance, default);
    }

    &[data-mode='outline'] {
      @include use-mode($appearance, outline);
    }

    &[data-mode='minimal'] {
      @include use-mode($appearance, minimal);
    }
  }
}

.button {
  overflow: visible;
  box-sizing: border-box;
  -moz-user-focus: ignore;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  display: flex;
  align-items: center;

  @include mixins.use-styles(button);
  @include mixins.items-spacing(8px);

  // fill

  &[data-fill] {
    width: 100%;
  }

  // disabled

  &[disabled] {
    cursor: not-allowed;
  }

  // align

  &[data-align='center'] {
    justify-content: center;

    & > .button-text {
      text-align: center;
    }
  }

  &[data-align='left'] {
    justify-content: left;

    & > .button-text {
      flex: 1 1 auto;
      text-align: left;
    }
  }

  &[data-align='right'] {
    justify-content: right;

    & > .button-text {
      flex: 1 1 auto;
      text-align: right;
    }
  }

  // sizes

  &[data-size='sm'] {
    @include mixins.use-styles(button, size, sm);
  }

  &[data-size='md'] {
    @include mixins.use-styles(button, size, md);
  }

  &[data-size='lg'] {
    @include mixins.use-styles(button, size, lg);
  }

  // text

  &-text {
    @include mixins.truncate-text();
  }

  // appearance

  @include use-appearance(primary);
  @include use-appearance(neutral);
  @include use-appearance(negative);
  @include use-appearance(positive);

  &[data-loading] {
    cursor: progress;
    position: relative;

    .button-text {
      visibility: hidden;
    }

    .button-spinner {
      position: absolute;
      margin: 0;
      color: inherit;
    }
  }
}
