@import '../mixins.scss';

.button {
  @include button-layout();
  @include items-spacing(8px);

  color: #ffffff;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: inherit;

  &-text {
    @include truncate-text();
  }

  &[data-accent='none'] {
    background: #101010;
    border: 1px solid #686868;

    &:hover {
      background: #1d1d1d;
    }

    &[data-highlighted] {
      background: #3d3d3d;
    }

    &:active,
    &[data-pressed] {
      box-shadow: inset 0 1px 2px rgb(0 0 0 / 0.1);
      background: #2b2b2b;
    }

    &[data-disabled] {
      border-color: #d0d0d0;
      color: #afafaf;
    }
  }

  &[data-accent='light'] {
    color: #000;
    background: #fff;

    &[data-disabled] {
      border-color: #8c8c8c;
    }
  }

  &[data-accent='primary'] {
    background: #38c4ed;

    &:hover {
      background: #3dadd0;
    }

    &[data-active] {
      background: #2e89a4;
    }

    &[data-disabled] {
      border-color: #4d717c;
    }
  }

  &[data-accent='danger'] {
    background: #3c0a03;
    border: 1px solid #ff371894;

    &:hover {
      background: #c52735;
      border: 1px solid #c52735;
    }

    &[data-active] {
      box-shadow: inset 0 1px 2px rgb(0 0 0 / 0.1);
      background: #ac212c;
      border-color: #ac212c;
    }

    &[data-disabled] {
      border-color: #d0d0d0;
      color: #afafaf;
    }
  }

  &[data-accent='success'] {
    background: #0b9923;
    border: 1px solid #0b9923;

    &:hover {
      background: #0b791d;
      border: 1px solid #0b791d;
    }

    &[data-active] {
      box-shadow: inset 0 1px 2px rgb(0 0 0 / 0.1);
      background: #096b19;
      border-color: #096b19;
    }

    &[data-disabled] {
      border-color: #2e7a3b;
      color: #2e7a3b;
    }
  }
}
