.number-input-container {
  display: flex;
  gap: 4px;
}

.number-stepper {
  display: flex;
  flex-direction: column;
  height: 30px;
  min-height: 30px;
  line-height: 30px;
  border: 1px solid var(--border-color);
  box-shadow: 0 1px 2px rgb(0 0 0 / 47%);
  border-radius: 4px;

  &-splitter {
    height: 1px;
    background-color: var(--border-color);
  }

  &-slot {
    border-radius: 0px;
    height: 13.5px;

    &[data-slot='decrement'] {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &[data-slot='increment'] {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
}
