$colors: (
  'bids': #039100,
  'asks': #760000,
  'both': #ff2cff,
  'free': #171717
);

:root {
  --dom-price-border: #686868;
  --dom-price-scale: #000;

  @each $key, $value in $colors {
    --color-dom-#{$key}: #{$value};
  }
}

.orderbook {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &-inner {
    overflow: hidden;
    position: relative;
  }

  .top-left {
    position: absolute;
    left: 8px;
    top: 8px;
    z-index: 999;
  }

  .bottom-left {
    position: absolute;
    left: 8px;
    bottom: 8px;
    z-index: 999;
  }

  &-content {
    overflow-y: scroll;
    height: 100%;
    padding: 0px 8px;

    &::-webkit-scrollbar {
      display: none;
    }

    &-layout {
      display: flex;
      overflow: hidden;
    }
  }
}

.dom-list {
  position: relative;
  padding-right: 1px;
}

.dom-arbitrage {
  font-size: 11px;
  border-right: 1px solid #ffffff29;
  border-left: 1px solid #ffffff29;
  display: flex;

  & > div {
    flex: 1;
  }

  & > div > div {
    position: relative;
    height: 18px;

    nav {
      position: absolute;
      background: #ffa801;
      max-width: 100%;
      height: 18px;
      pointer-events: none;
    }
  }

  .price-scale {
    background-color: var(--color-dom-free);
    border-right: 1px solid var(--dom-price-border);
    border-left: 1px solid var(--dom-price-border);

    & > div {
      color: #ce8a06;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @each $key, $value in $colors {
    .#{$key} {
      background-color: var(--color-dom-#{$key});
    }
  }
}

.dom-arbitrage > div > div > div {
  min-width: 100%;
  height: 18px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 6px;
  color: #fff;
  pointer-events: none;
  z-index: 1;
}
