@use '../mixins.scss';

.segments {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: all 100ms ease-out;

  &-container {
    width: 100%;
    box-sizing: border-box;

    @include mixins.use-styles(segment-control, container);
  }

  &-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(100% / var(--uikit--options));
    border-radius: inherit;
    transform: translateX(calc(var(--uikit--current-index) * 100%));
    transform-origin: 0 0;
    transition: transform 150ms;

    @include mixins.use-styles(segment-control, slider);
  }

  &-option {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: 0;
    border-radius: inherit;
    transition: color 100ms ease-out;

    &:not([data-active]):hover {
      @include mixins.use-styles(segment-control, option, hover);
    }

    &:not([data-active]):active {
      @include mixins.use-styles(segment-control, option, active);
    }

    @include mixins.use-styles(segment-control, option);
  }
}
