@use '../mixins.scss';

.segments {
  position: relative;
  display: flex;
  height: 100%;
  border-radius: inherit;
  transition: all 100ms ease-out;

  @include mixins.use-styles(segment-control);

  &-container {
    box-sizing: border-box;

    @include mixins.use-styles(segment-control, container);
  }

  &-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;

    @include mixins.use-styles(segment-control, slider);
  }

  &-option {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: 0;
    border-radius: inherit;
    transition: color 100ms ease-out;

    @include mixins.use-styles(segment-control, option);

    &:not([data-selected]) {
      &:hover {
        @include mixins.use-styles(segment-control, option, hover);
      }

      &:active {
        @include mixins.use-styles(segment-control, option, active);
      }
    }

    &[data-selected] {
      @include mixins.use-styles(segment-control, option, selected);
    }
  }
}
