.form-textarea {
  display: flex;

  textarea {
    padding: var(--form_space-y, 0px) var(--form_space, 0px);
    border-radius: var(--form_border-radius);
    border-style: solid;
    border-width: 2px;
    border-top-width: 0;
    border-left-width: 0;
    border-color: transparent;
    min-height: max-content;
    resize: vertical;
    display: block;

    ::-webkit-search-cancel-button {
      display: none;
    }

    ::-webkit-search-decoration {
      -webkit-appearance: none;
      appearance: none;
    }

    ::-ms-clear {
      display: none;
    }

    &[data-grow] {
      resize: none;
      border: none;
    }
  }
}
