.double--input {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.double--input > div {
  width: 100%;
}
@media screen and (max-width: 420px) {
  .double--input {
    flex-direction: column;
  }
}

.__container {
  border-color: #e8e8e8;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 6%);
}
