@use '../mixins.scss';

.popover {
  outline: none;
  @include mixins.use-styles(popover);

  &[data-match-target='width'] {
    width: var(--radix-popover-trigger-width);
  }

  &[data-match-target='min-width'] {
    min-width: var(--radix-popover-trigger-width);
  }

  &-content {
    position: relative;
    display: flex;
    flex-direction: column;

    &[data-fit-max-height] {
      max-height: var(--radix-popover-content-available-height);
    }

    @include mixins.use-styles(popover, content);
  }

  &-arrow {
    position: relative;

    &-icon {
      position: relative;
    }

    &-border {
      fill: #111418;
      fill-opacity: 0.1;
    }

    &-fill {
      fill: mixins.get-var-name(popover, content, background);
    }

    &:before {
      border-radius: 1px;
      content: '';
      display: block;
      position: absolute;
      transform: rotate(45deg);
      height: 20px;
      margin: 5px;
      width: 20px;
      box-shadow: 1px 1px 6px rgba(17, 20, 24, 0.2);
      margin-top: -14px;
    }
  }

  &[data-appearance='default'] {
    &[data-state='open'] {
      transform-origin: var(--radix-popover-content-transform-origin);
      @include mixins.use-styles(popover, default, in);
    }

    &[data-state='closed'] {
      transform-origin: var(--radix-popover-content-transform-origin);
      @include mixins.use-styles(popover, default, out);
    }
  }

  &[data-appearance='minimal'] {
    &[data-state='open'] {
      transform-origin: var(--radix-popover-content-transform-origin);
      @include mixins.use-styles(popover, minimal, in);
    }

    &[data-state='closed'] {
      transform-origin: var(--radix-popover-content-transform-origin);
      @include mixins.use-styles(popover, minimal, out);
    }
  }
}
