.overlay {
  inset: 0;
  position: fixed;
  z-index: 20;

  &[data-closing] {
    pointer-events: none;
  }

  &-container {
    overflow: hidden;
  }

  &-content {
    position: fixed;
    z-index: 20;
  }

  &-backdrop {
    background-color: rgba(17, 20, 24, 0.7);
    inset: 0;
    opacity: 1;
    overflow: auto;
    position: fixed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 20;

    // presets before transition in (initial state)
    &[data-closed][data-enter] {
      opacity: 0;
    }

    // transition in
    &[data-enter] {
      opacity: 1;
      transition-delay: 0;
      transition-duration: 0.2s;
      transition-property: opacity;
      transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
    }

    // transition out
    &[data-leave] {
      opacity: 0;
      transition-delay: 0;
      transition-duration: 0.2s;
      transition-property: opacity;
      transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
    }
  }
}
