name: publish-packages
on:
  push:
    branches:
      - master

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      utils-js: ${{ steps.filter.outputs.utils-js }}
      utils-browser: ${{ steps.filter.outputs.utils-browser }}
      utils-nodejs: ${{ steps.filter.outputs.utils-nodejs }}
      utils-math: ${{ steps.filter.outputs.utils-math }}
      repulse: ${{ steps.filter.outputs.repulse }}
      formkit: ${{ steps.filter.outputs.formkit }}
      uikit: ${{ steps.filter.outputs.uikit }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            utils-js:
              - 'packages/utils-js/package.json'
            utils-browser:
              - 'packages/utils-browser/package.json'
            utils-nodejs:
              - 'packages/utils-nodejs/package.json'
            utils-math:
              - 'packages/utils-math/package.json'
            repulse:
              - 'packages/repulse/package.json'
            formkit:
              - 'packages/formkit/package.json'
            uikit:
              - 'packages/uikit/package.json'
      - run: echo '${{ toJson(github.event) }}'

  utils-js:
    needs: changes
    if: ${{ needs.changes.outputs.utils-js == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org
      - run: npm ci
      - run: npm run build --workspace=@companix/utils-js
      - run: npm run github:setup
      - run: npm publish --access public
        working-directory: packages/utils-js
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  utils-browser:
    needs: changes
    if: ${{ needs.changes.outputs.utils-browser == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org
      - run: npm ci
      - run: npm run build --workspace=@companix/utils-browser
      - run: npm run github:setup
      - run: npm publish --access public
        working-directory: packages/utils-browser
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  utils-nodejs:
    needs: changes
    if: ${{ needs.changes.outputs.utils-nodejs == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org
      - run: npm ci
      - run: npm run build --workspace=@companix/utils-nodejs
      - run: npm run github:setup
      - run: npm publish --access public
        working-directory: packages/utils-nodejs
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  utils-math:
    needs: changes
    if: contains(github.event.head_commit.modified, 'packages/utils-math/package.json')
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org
      - run: npm ci
      - run: npm run build --workspace=@companix/utils-math
      - run: npm run github:setup
      - run: npm publish --access public
        working-directory: packages/utils-math
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  repulse:
    needs: changes
    if: ${{ needs.changes.outputs.repulse == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org
      - run: npm ci
      - run: npm run build --workspace=@companix/repulse
      - run: npm run github:setup
      - run: npm publish --access public
        working-directory: packages/repulse
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  formkit:
    needs: changes
    if: ${{ needs.changes.outputs.formkit == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org
      - run: npm ci
      - run: npm run build --workspace=@companix/formkit
      - run: npm run github:setup
      - run: npm publish --access public
        working-directory: packages/formkit
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  uikit:
    needs: changes
    if: ${{ needs.changes.outputs.uikit == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org
      - run: npm ci
      - run: npm run build --workspace=@companix/uikit
      - run: npm run github:setup
      - run: ls
        working-directory: packages/uikit
      - run: npm publish --access public
        working-directory: packages/uikit
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
