name: publish-packages
on:
  push:
    branch:
      - master

jobs:
  utils-js:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com/
      - run: ls
      - run: npm i
      - run: cd packages
      - run: cd utils-js
      - run:
          cat package.json
          # - run: cat package.json
      # - run: npm i
      #   working-directory: utils
      # - run: npm run build
      #   working-directory: utils
      # - run: npm publish
      #   working-directory: utils
      # env:
      #   NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
  # exchange-client:
  #   needs: utils
  #   runs-on: ubuntu-latest
  #   permissions:
  #     packages: write
  #     contents: read
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v4

  #     - uses: actions/setup-node@v4
  #       with:
  #         node-version: 20
  #         registry-url: https://npm.pkg.github.com/

  #     - name: Setup npm authentication for GitHub Packages
  #       run: printf "\n//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}" >> .npmrc
  #       working-directory: exchange-client
  #       env:
  #         NODE_AUTH_TOKEN: ${{ secrets.GLOBAL_TOKEN }}

  #     - name: Show .npmrc
  #       working-directory: exchange-client
  #       run: cat .npmrc

  #     - run: node ./setup.js
  #       working-directory: exchange-client
  #     - run: npm i
  #       working-directory: exchange-client
  #     - run: npm run build
  #       working-directory: exchange-client
  #     - run: npm publish
  #       working-directory: exchange-client
  #       env:
  #         NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
